* text=auto
.gitattributes text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.lock text eol=lf
.env.example text eol=lf
.gitignore text eol=lf
.python-version text eol=lf
